on:
  workflow_dispatch:
  pull_request:
  push:
    branches:
      - "*"

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: actions/setup-node@v6
        with:
          node-version: 22
      - run: npm install
      - run: npm run lint
      - run: npm run compile
      - run: npm test
