on:
  push:
    tags:
      - "*"

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: actions/setup-node@v6
        with:
          node-version: 22
      - run: npm install
      - run: npm run lint
      - run: npx vsce package
        if: success()
        env:
          VSCE_PAT: ${{ secrets.VSCE_PAT }}


